@import url("./reset.css");
@import url("./typography.css");
@import url("./carousel.css");

#main-nav-toggle {
  display: none;
}

/* header start */
header .top {
  padding: 0.5em 5vw;
  display: flex;
  justify-content: space-between;
  background-color: #f2e2cb;
  /* background-color: #F1E4D4; */
  border-bottom: 2px solid #ac262b;
}

header .top div {
  display: flex;
}

header .top i {
  margin-right: 0.5em;
  color: #000;
  transition: color 0.3s ease-out;
}

header .top i:hover {
  color: #ac262b;
}

header .top .icons a {
  margin-right: 0.5em;
}

header .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: url("../images/header-bottom.jpg") center / cover no-repeat; */
  background: url("../images/home-main2.jpg") center / cover no-repeat;
}

/* nav start */
header .bottom .nav-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

header .bottom label:before {
  display: block;
  content: "\2630";
  font-size: 2.5em;
  color: #fff;
  text-shadow: 0 3px 3px rgba(172, 55, 38, 1);
}

header .bottom nav {
  display: none;
}

input:checked + header nav {
  display: block;
}

input:checked + header label:before {
  content: "\2612";
}

header .bottom li {
  margin-top: 1em;
  text-align: center;
}

header .bottom a {
  padding: 0.5em 2em;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #f2e2cb;
  color: #ac262b;
  border-radius: 0.3em;
  border: 1px solid #ac262b;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

header .bottom a:hover,
header .bottom a:focus {
  transform: scale(1.07);
  background-color: #ac262b;
  color: #f2e2cb;
  border-color: #f2e2cb;
}
/* nav end */

header .bottom h1 {
  /* padding: 2em 0; */
  padding-top: 2em;
  font-size: 3em;
  color: #fff;
  text-align: center;
  text-shadow: 0 3px 10px rgba(172, 55, 38, 1);
  /* text-shadow: 0 3px 10px rgb(248, 60, 31); */
}

header .bottom .slogan {
  padding-bottom: 4em;
  font-size: 1.6em;
  color: #fff;
  text-shadow:
   1px -1px 0 #ac262b,
    /* 1px -1px 0 #ac262b, */
    /* -1px 1px 0 #ac262b, */
     1px 1px 0 #ac262b;
}
/* header end */

main {
  height: 30vh;
  background-color: #f4e5d0;
}
