---
layout: main-layout
permalink: /
---

<input type="checkbox" name="main-nav-toggle" id="main-nav-toggle">
<header>
  {% include header-top.html %}

  <section class="bottom">
    {% include navigation.html %}
    <h1>Welcome to Al's Shoe Store</h1>
    <p class="slogan">discover your new style with us</p>
  </section>
</header>

{% include carousel.html %}

<main>
  <div class="wrapper">
    <div class="content">
      <h3>DESIGNER SHOES TO FALL IN LOVE WITH EVERY SEASON</h3>
      <p>Your new pair of luxury shoes is just moments away. Shop masterfully crafted flats, heels and boots by an international fashion collective. If you’re seeking American sass, Parisian chic or fine Italian luxury, peruse a discerning, curated assortment at Al's.</p>
      <hr>
      <h3>MAGIC MOMENTS IN TIME</h3>
      <p>From Naomi Campbell’s memorable platform mishap on the runway to Saint Laurent’s style-defining Tribute heels, designer shoes remain at the forefront of the fashion world’s daily gossip and international headline news. Iconic shoes and the women who wore them are littered throughout history – think Audrey Hepburn sporting casual ballet flats in the 1957 film Funny Face or Carrie Bradshaw's closet of colorful and scintillating high heels.</p>
      <hr>
      <!-- <h3>STYLISH SHOES TO LAST A LIFETIME</h3>
        <p>Encase your feet in elegant footwear and flaunt a bona fide fashion asset. Shoes designed by the fashion elite are easy on the eye and always exclusive. Sneakers, ankle boots, heels and loafers by luxury shoe designers such as Givenchy, Balenciaga, Gianvito Rossi and Stella McCartney are crafted and embellished with plush fabrics including suede, fur and vegan leather.</p>
        <hr> -->
      <h3>WEAR YOUR PAIR WITH EVERYTHING</h3>
      <p>Fresh off the runway straight to our shelves and available in every style and shade imaginable, the designer shoes on offer at Al's cater to all of life's occasions.</p>
      <p>Gucci’s Princetown slippers, Fendi’s leather loafers and Tom Ford’s sassy sandals lend laid-back luxury vibes to any look, while Dolce & Gabbana classics such Bellucci pumps and jacquard slingbacks work effortlessly with your party closet.</p>
    </div>

    <div class="app">
      <hr>
      <h3>SHOP WHENEVER, WHEREVER WITH Al's APP</h3>
      <div class="icons">
        <a href="#"><img src="./images/logos/google-256x256.png" alt=""></a>
        <a href="#"><img src="./images/logos/apple-256x256.png" alt=""></a>
      </div>
    </div>

  </div>
</main>

{% include footer.html %}

{% include carousel-js.html %}