---
layout: main-layout
title: store
permalink: /store/
---

<input type="checkbox" name="main-nav-toggle" id="main-nav-toggle">
<header>
  {% include header-top.html %}

  <section class="bottom">
    {% include navigation.html %}
  </section>
</header>

<main class="store-main">
  <section class="grid-container">
    <div class="card card-1">
      <div class="image"></div>
      <p>COLE HAAN</p>
      <p>Ramsey Flat</p>
      <p>140 &euro;</p>
      <a href="#" class="add-to-cart">add to cart</a>
    </div>

    <div class="card card-2">
      <div class="image"></div>
      <p>TED BAKER LONDON</p>
      <p>Grasce Flat</p>
      <p>150 &euro;</p>
      <a href="#" class="add-to-cart">add to cart</a>
    </div>

    <div class="card card-3">
      <div class="image"></div>
      <p>TORY BURCH</p>
      <p>Everly Cap Toe Ballet Flat</p>
      <p>130 &euro;</p>
      <a href="#" class="add-to-cart">add to cart</a>
    </div>

    <div class="card card-4">
      <div class="image"></div>
      <p>AGL</p>
      <p>Pointy Toe Flat</p>
      <p>355 &euro;</p>
      <a href="#" class="add-to-cart">add to cart</a>
    </div>

    <div class="card card-5">
      <div class="image"></div>
      <p>VINCE CAMUTO</p>
      <p>Saisha Sandal</p>
      <p>120 &euro;</p>
      <a href="#" class="add-to-cart">add to cart</a>
    </div>

    <div class="card card-6">
      <div class="image"></div>
      <p>LOUISE ET CIE</p>
      <p>Hanabeth Pump</p>
      <p>110 &euro;</p>
      <a href="#" class="add-to-cart">add to cart</a>
    </div>

    <div class="card card-7">
      <div class="image"></div>
      <p>CHARLES BY CHARLES DAVID</p>
      <p>Maxx Pointy Toe Pump</p>
      <p>95 &euro;</p>
      <a href="#" class="add-to-cart">add to cart</a>
    </div>

    <div class="card card-8">
      <div class="image"></div>
      <p>JIMMY CHOO</p>
      <p>'Romy' Pointy Toe Pump</p>
      <p>610 &euro;</p>
      <a href="#" class="add-to-cart">add to cart</a>
    </div>

    <div class="card card-9">
      <div class="image"></div>
      <p>MARC FISHER LTD</p>
      <p>Unique Bootie</p>
      <p>185 &euro;</p>
      <a href="#" class="add-to-cart">add to cart</a>
    </div>

    <div class="card card-10">
      <div class="image"></div>
      <p>BLONDO</p>
      <p>Nina Waterproof Suede Boot</p>
      <p>140 &euro;</p>
      <a href="#" class="add-to-cart">add to cart</a>
    </div>

    <div class="card card-11">
      <div class="image"></div>
      <p>COLE HAAN</p>
      <p>Joanna Bootie</p>
      <p>180 &euro;</p>
      <a href="#" class="add-to-cart">add to cart</a>
    </div>

    <div class="card card-12">
      <div class="image"></div>
      <p>PAUL GREEN</p>
      <p>Brianna Slouchy Bootie</p>
      <p>430 &euro;</p>
      <a href="#" class="add-to-cart">add to cart</a>
    </div>
  </section>
</main>

{% include footer.html %}