<div class="carousel-wrapper">
  <a href="{{ site.baseurl }}/store">
    <div class="carousel">
      <div><img src="images/shoes/1-2.jpeg"></div>
      <div><img src="images/shoes/1-1.jpeg"></div>
      <div><img src="images/shoes/2-2.jpeg"></div>
      <div><img src="images/shoes/2-1.jpeg"></div>
      <div><img src="images/shoes/3-2.jpeg"></div>
      <div><img src="images/shoes/3-1.jpeg"></div>
      <div><img src="images/shoes/4-2.jpeg"></div>
      <div><img src="images/shoes/4-1.jpeg"></div>
      <div><img src="images/shoes/5-2.jpeg"></div>
      <div><img src="images/shoes/5-1.jpeg"></div>
      <div><img src="images/shoes/6-2.jpeg"></div>
      <div><img src="images/shoes/6-1.jpeg"></div>
      <div><img src="images/shoes/7-2.jpeg"></div>
      <div><img src="images/shoes/7-1.jpeg"></div>
      <div><img src="images/shoes/8-2.jpeg"></div>
      <div><img src="images/shoes/8-1.jpeg"></div>
      <div><img src="images/shoes/9-2.jpeg"></div>
      <div><img src="images/shoes/9-1.jpeg"></div>
      <div><img src="images/shoes/10-2.jpeg"></div>
      <div><img src="images/shoes/10-1.jpeg"></div>
      <div><img src="images/shoes/11-2.jpeg"></div>
      <div><img src="images/shoes/11-1.jpeg"></div>
      <div><img src="images/shoes/12-2.jpeg"></div>
      <div><img src="images/shoes/12-1.jpeg"></div>
    </div>
  </a>
</div>