<div class="carousel-wrapper">
  <a href="shop.html">
    <div class="carousel">
      <div><img src="images/more/1-2.jpeg"></div>
      <div><img src="images/more/1-1.jpeg"></div>
      <div><img src="images/more/2-2.jpeg"></div>
      <div><img src="images/more/2-1.jpeg"></div>
      <div><img src="images/more/3-2.jpeg"></div>
      <div><img src="images/more/3-1.jpeg"></div>
      <div><img src="images/more/4-2.jpeg"></div>
      <div><img src="images/more/4-1.jpeg"></div>
      <div><img src="images/more/5-2.jpeg"></div>
      <div><img src="images/more/5-1.jpeg"></div>
      <div><img src="images/more/6-2.jpeg"></div>
      <div><img src="images/more/6-1.jpeg"></div>
      <div><img src="images/more/7-2.jpeg"></div>
      <div><img src="images/more/7-1.jpeg"></div>
      <div><img src="images/more/8-2.jpeg"></div>
      <div><img src="images/more/8-1.jpeg"></div>
      <div><img src="images/more/9-2.jpeg"></div>
      <div><img src="images/more/9-1.jpeg"></div>
      <div><img src="images/more/10-2.jpeg"></div>
      <div><img src="images/more/10-1.jpeg"></div>
      <div><img src="images/more/11-2.jpeg"></div>
      <div><img src="images/more/11-1.jpeg"></div>
      <div><img src="images/more/12-2.jpeg"></div>
      <div><img src="images/more/12-1.jpeg"></div>
    </div>
  </a>
</div>