<footer>
  <section class="top">
    <div class="footer-item">
      <h3>Al's shoe store</h3>
      <p>Put your best foot forward in this season’s most decadent designer shoes from some of the finest footwear designers around.</p>
    </div>

    <div class="footer-item">
      <h3>Quick Links</h3>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="shop.html">Store</a></li>
          <li><a href="about.html">About Al</a></li>
          <li><a href="contacts.html">Contact Al</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer-item">
      <h3>Contact Info</h3>
      <nav>
        <ul>
          <li><i class="fas fa-phone-volume"></i> 555-SHOE</li>
          <li><i class="fas fa-envelope"></i> al.bundy@gmail.com</li>
          <li><i class="fas fa-map-marker-alt"></i> New Market Mall, 60640 Chicago, Illinois</li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="bottom">
    <p>&#169; 2019 Al's Shoe Shop. All rights reserved.</p>
  </section>
</footer>