@media (min-width: 480px) {
  header .top {
    padding: 0.5em 10vw;
  }

  header .top .icons a {
    margin-right: 1em;
  }

  main .content,
  main .app {
    width: 80%;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 14px;
  }

  header .top {
    padding: 0.5em 20vw;
  }

  footer .top .footer-item:not(:first-child) {
    flex: 0 0 50%;
  }

  .store-main .grid-container {
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
  }

  /* store animation delay start */
  .store-main .grid-container .card.card-2,
  .store-main .grid-container .card.card-3 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }

  .store-main .grid-container .card.card-4,
  .store-main .grid-container .card.card-5 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }

  .store-main .grid-container .card.card-6,
  .store-main .grid-container .card.card-7 {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }

  .store-main .grid-container .card.card-8,
  .store-main .grid-container .card.card-9 {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }

  .store-main .grid-container .card.card-10,
  .store-main .grid-container .card.card-11 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }

  .store-main .grid-container .card.card-12 {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  /* store animation delay end */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  header .bottom .nav-wrapper {
    align-items: flex-end;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  }

  header .bottom label {
    display: none;
  }

  header .bottom nav {
    display: block;
  }

  header .bottom ul {
    display: flex;
  }

  header .bottom li {
    margin-right: 1em;
  }

  header .bottom a {
    padding: 0.25em 1em;
  }

  header .bottom h1 {
    font-size: 3.5em;
  }

  main .content,
  main .app {
    width: 70%;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 17px;
  }

  footer.site-footer .top .footer-item {
    flex: 0 0 30%;
  }

  footer .top .footer-item:nth-child(2) {
    padding-left: 6%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }

  header .bottom h1 {
    font-size: 4em;
  }

  main .content {
    width: 50%;
  }

  main .app {
    width: 65%;
  }

  footer .bottom:before {
    width: 90%;
  }

  .store-main .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .store-main .grid-container .card .image {
    width: 9em;
    height: 11em;
  }

  /* store animation delay start */
  .store-main .grid-container .card.card-2,
  .store-main .grid-container .card.card-4 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }

  .store-main .grid-container .card.card-3,
  .store-main .grid-container .card.card-5,
  .store-main .grid-container .card.card-7 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }

  .store-main .grid-container .card.card-6,
  .store-main .grid-container .card.card-8,
  .store-main .grid-container .card.card-10 {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }

  .store-main .grid-container .card.card-9,
  .store-main .grid-container .card.card-11 {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }

  .store-main .grid-container .card.card-12 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  /* store animation delay end */
}

@media (min-width: 1600px) {
  html {
    font-size: 20px;
  }

  .store-main .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  /* store animation delay start */  
  .store-main .grid-container .card.card-2,
  .store-main .grid-container .card.card-5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }

  .store-main .grid-container .card.card-3,
  .store-main .grid-container .card.card-6,
  .store-main .grid-container .card.card-9 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }

  .store-main .grid-container .card.card-4,
  .store-main .grid-container .card.card-7,
  .store-main .grid-container .card.card-10 {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }

  .store-main .grid-container .card.card-8,
  .store-main .grid-container .card.card-11 {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }

  .store-main .grid-container .card.card-12 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  /* store animation delay end */
}

@media (min-width: 1900px) {
  header .bottom h1 {
    padding-top: 3em;
  }

  header .bottom .slogan {
    padding-bottom: 7em;
  }
}
