/* reset css start */
@import url("https://fonts.googleapis.com/css?family=Courgette|Maven+Pro&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/* reset css end */
/* variables css start */
/* variables css end */
/* typography css start */
html {
  font: 12px/1.5 Courgette, sans-serif; }

li {
  list-style: none outside; }

a {
  text-decoration: none; }

/* typography css end */
/* carousel css start */
.carousel-wrapper {
  margin: 0 auto;
  width: 100%;
  border-top: 2px solid #ac262b;
  border-bottom: 2px solid #ac262b; }

.carousel img {
  display: block;
  width: 100%;
  height: auto; }

.carousel div {
  display: block; }

/* carousel css end */
/* style css start */
#main-nav-toggle {
  display: none; }

input:checked + header nav {
  display: block; }

input:checked + header label:before {
  content: "\2612"; }

/* header start */
header {
  /* header end */ }
  header .top {
    padding: 0.5em 5vw;
    display: flex;
    justify-content: space-between;
    background-color: #f2e2cb;
    border-bottom: 2px solid #ac262b; }
    header .top div {
      display: flex; }
    header .top i {
      margin-right: 0.5em;
      color: #000;
      transition: color 0.3s ease-out; }
    header .top i:hover {
      color: #ac262b; }
    header .top .icons a {
      margin-right: 0.5em; }
  header .bottom {
    /* header nav start */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/header-bottom.jpg") center/cover no-repeat;
    /* header nav end */ }
    header .bottom .nav-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 1em;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); }
    header .bottom label:before {
      display: block;
      content: "\2630";
      font-size: 2.5em;
      color: #fff;
      text-shadow: 0 3px 3px #ac3726; }
    header .bottom nav {
      display: none; }
    header .bottom li {
      margin-top: 1em;
      text-align: center; }
    header .bottom a {
      padding: 0.5em 5em;
      display: block;
      font-size: 1.3em;
      font-weight: bold;
      background-color: #f2e2cb;
      color: #ac262b;
      border-radius: 0.3em;
      border: 1px solid #ac262b;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.3s ease-in-out; }
      header .bottom a:hover, header .bottom a:focus, header .bottom a.selected {
        transform: scale(1.05);
        background-color: #ac262b;
        color: #f2e2cb;
        border-color: #f2e2cb;
        outline: none; }
    header .bottom h1 {
      padding-top: 2em;
      font-size: 3em;
      color: #fff;
      text-align: center;
      text-shadow: 0 3px 10px #ac3726; }
    header .bottom .slogan {
      padding-bottom: 4em;
      font-size: 1.6em;
      color: #fff;
      text-shadow: 1px -1px 0 #ac262b, 1px 1px 0 #ac262b; }

/* home main start */
.home-main {
  background-color: #f6f2e4;
  font-family: "Maven Pro", sans-serif; }
  .home-main h3 {
    padding-bottom: 0.5em;
    font-weight: normal; }
  .home-main .content {
    margin: 0 auto;
    padding: 4em 0;
    width: 90%;
    text-align: center; }
    .home-main .content hr {
      margin: 1em auto;
      display: block;
      width: 85%;
      border: none;
      border-bottom: 1px solid #d1b59f; }
  .home-main .app {
    margin: 0 auto;
    padding-bottom: 2em;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .home-main .app hr {
      margin-bottom: 2em;
      width: 100%;
      display: block;
      border: none;
      border-bottom: 1px solid #ac262b; }
    .home-main .app .icons {
      margin-top: 1em;
      display: flex; }
      .home-main .app .icons a:first-child {
        margin-right: 2em; }
      .home-main .app .icons img {
        width: 10em;
        height: auto;
        opacity: 0.7;
        transition: opacity 0.3s ease-in-out; }
        .home-main .app .icons img:hover {
          opacity: 1; }

/* home main end */
/* footer start */
footer {
  padding: 3em 3em 1em 3em;
  color: #fff;
  color: #f6f2e4;
  border-top: 2px solid #ac262b;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/footer.jpg") center/cover no-repeat; }
  footer .top {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    footer .top .footer-item {
      flex: 0 0 100%; }
      footer .top .footer-item:not(:last-child) {
        margin-bottom: 1em; }
    footer .top h3 {
      padding-bottom: 0.5em;
      text-shadow: 1px -1px 0 #ac262b, 1px 1px 0 #ac262b; }
    footer .top a {
      display: inline-block;
      font-size: 1.3em;
      color: #f6f2e4;
      transition: color 0.3s ease, transform 0.3s ease; }
      footer .top a:hover, footer .top a:focus {
        color: #ac262b;
        transform: scale(1.1);
        outline: none; }
  footer .bottom {
    margin-top: 1em;
    text-align: center; }
    footer .bottom p {
      padding-top: 1em;
      text-shadow: 0px 1px 0 #ac262b; }
    footer .bottom:before {
      margin: 0 auto;
      display: block;
      content: "";
      border-bottom: 2px solid #fff; }

/* footer end */
/* style css end */
/* shoes css start */
@-webkit-keyframes card-show {
  from {
    transform: scale(1.1);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
@keyframes card-show {
  from {
    transform: scale(1.1);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

.store-main {
  position: relative;
  background: none;
  border-top: 2px solid #ac262b;
  font-family: "Maven Pro", sans-serif; }
  .store-main:before {
    display: block;
    content: "";
    background: linear-gradient(to right, rgba(246, 242, 228, 0.6), rgba(246, 242, 228, 0.6)), url("../images/main.jpg") center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    z-index: -1; }
  .store-main .see-accessories {
    padding-top: 1em;
    text-align: center;
    font-family: Courgette, sans-serif;
    font-size: 1.5em; }
    .store-main .see-accessories a {
      padding-bottom: 0.3em;
      color: #000;
      transition: color 0.2s ease-in-out; }
      .store-main .see-accessories a:hover, .store-main .see-accessories a:focus {
        color: #ac262b; }
      .store-main .see-accessories a span {
        padding-left: 0.4em;
        font-size: 1.2em; }
  .store-main .grid-container {
    margin: 0 auto;
    padding: 2em 0;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-column-gap: 3em;
    grid-row-gap: 2em; }
    .store-main .grid-container .card {
      /* card start */
      background-color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0 0 0.5rem 0 rgba(172, 38, 43, 0.3);
      border-radius: 0.3em;
      -webkit-animation-name: card-show;
              animation-name: card-show;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-animation-duration: 0.3s;
              animation-duration: 0.3s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      /* card animation delays start*/
      /* card animation delays end*/ }
      .store-main .grid-container .card .text {
        padding-bottom: 1em;
        width: 100%;
        position: relative; }
      .store-main .grid-container .card .description {
        /* description start */
        position: absolute;
        padding: 0.5em;
        line-height: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background-color: #fff;
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 0.3s ease-out, transform 0.3s ease-out; }
      .store-main .grid-container .card .image:hover + .text .description {
        opacity: 1;
        transform: scale(1);
        /* description end */ }
      .store-main .grid-container .card.card-2 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .store-main .grid-container .card.card-3 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .store-main .grid-container .card.card-4 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .store-main .grid-container .card.card-5 {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      .store-main .grid-container .card.card-6 {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s; }
      .store-main .grid-container .card.card-7 {
        -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s; }
      .store-main .grid-container .card.card-8 {
        -webkit-animation-delay: 0.7s;
                animation-delay: 0.7s; }
      .store-main .grid-container .card.card-9 {
        -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s; }
      .store-main .grid-container .card.card-10 {
        -webkit-animation-delay: 0.9s;
                animation-delay: 0.9s; }
      .store-main .grid-container .card.card-11 {
        -webkit-animation-delay: 1s;
                animation-delay: 1s; }
      .store-main .grid-container .card.card-12 {
        -webkit-animation-delay: 1.1s;
                animation-delay: 1.1s; }
      .store-main .grid-container .card .image {
        width: 12em;
        height: 12em;
        position: relative; }
        .store-main .grid-container .card .image:before {
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          position: absolute; }
        .store-main .grid-container .card .image:after {
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 1;
          transition: opacity 0.4s ease-in; }
        .store-main .grid-container .card .image:hover:after {
          opacity: 0; }
      .store-main .grid-container .card .add-to-cart {
        margin-bottom: 1em;
        color: #ac262b;
        font-size: 1.1em;
        text-decoration: none;
        opacity: 0;
        transform: scale(1.1);
        transition: opacity 0.3s ease-in, transform 0.2s ease-in; }
      .store-main .grid-container .card:hover .add-to-cart {
        opacity: 1;
        transform: scale(1); }

.store-main.shoes .grid-container .card.card-1 .image:before {
  background: url("../images/shoes/1-2.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-1 .image:after {
  background: url("../images/shoes/1-1.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-2 .image:before {
  background: url("../images/shoes/2-2.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-2 .image:after {
  background: url("../images/shoes/2-1.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-3 .image:before {
  background: url("../images/shoes/3-2.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-3 .image:after {
  background: url("../images/shoes/3-1.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-4 .image:before {
  background: url("../images/shoes/4-2.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-4 .image:after {
  background: url("../images/shoes/4-1.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-5 .image:before {
  background: url("../images/shoes/5-2.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-5 .image:after {
  background: url("../images/shoes/5-1.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-6 .image:before {
  background: url("../images/shoes/6-2.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-6 .image:after {
  background: url("../images/shoes/6-1.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-7 .image:before {
  background: url("../images/shoes/7-2.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-7 .image:after {
  background: url("../images/shoes/7-1.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-8 .image:before {
  background: url("../images/shoes/8-2.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-8 .image:after {
  background: url("../images/shoes/8-1.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-9 .image:before {
  background: url("../images/shoes/9-2.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-9 .image:after {
  background: url("../images/shoes/9-1.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-10 .image:before {
  background: url("../images/shoes/10-2.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-10 .image:after {
  background: url("../images/shoes/10-1.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-11 .image:before {
  background: url("../images/shoes/11-2.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-11 .image:after {
  background: url("../images/shoes/11-1.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-12 .image:before {
  background: url("../images/shoes/12-2.jpeg") center/contain no-repeat; }

.store-main.shoes .grid-container .card.card-12 .image:after {
  background: url("../images/shoes/12-1.jpeg") center/contain no-repeat; }

/* card end */
/* shoes css end */
/* accessories css start */
.store-main .back-to-shoes {
  padding-top: 1em;
  text-align: center;
  font-family: Courgette, sans-serif;
  font-size: 1.5em; }
  .store-main .back-to-shoes a {
    padding-bottom: 0.3em;
    color: #000;
    transition: color 0.2s ease-in-out; }
    .store-main .back-to-shoes a:hover, .store-main .back-to-shoes a:focus {
      color: #ac262b; }
    .store-main .back-to-shoes a span {
      padding-right: 0.4em;
      font-size: 1.2em; }

.store-main.accessories .grid-container .card.card-1 .image:before {
  background: url("../images/accessories/1-2.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-1 .image:after {
  background: url("../images/accessories/1-1.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-2 .image:before {
  background: url("../images/accessories/2-2.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-2 .image:after {
  background: url("../images/accessories/2-1.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-3 .image:before {
  background: url("../images/accessories/3-2.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-3 .image:after {
  background: url("../images/accessories/3-1.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-4 .image:before {
  background: url("../images/accessories/4-2.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-4 .image:after {
  background: url("../images/accessories/4-1.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-5 .image:before {
  background: url("../images/accessories/5-2.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-5 .image:after {
  background: url("../images/accessories/5-1.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-6 .image:before {
  background: url("../images/accessories/6-2.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-6 .image:after {
  background: url("../images/accessories/6-1.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-7 .image:before {
  background: url("../images/accessories/7-2.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-7 .image:after {
  background: url("../images/accessories/7-1.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-8 .image:before {
  background: url("../images/accessories/8-2.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-8 .image:after {
  background: url("../images/accessories/8-1.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-9 .image:before {
  background: url("../images/accessories/9-2.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-9 .image:after {
  background: url("../images/accessories/9-1.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-10 .image:before {
  background: url("../images/accessories/10-2.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-10 .image:after {
  background: url("../images/accessories/10-1.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-11 .image:before {
  background: url("../images/accessories/11-2.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-11 .image:after {
  background: url("../images/accessories/11-1.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-12 .image:before {
  background: url("../images/accessories/12-2.jpeg") center/contain no-repeat; }

.store-main.accessories .grid-container .card.card-12 .image:after {
  background: url("../images/accessories/12-1.jpeg") center/contain no-repeat; }

/* accessories css end */
/* about css start */
@-webkit-keyframes about-show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes about-show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.about-main {
  position: relative;
  background: none;
  border-top: 2px solid #ac262b; }
  .about-main:before {
    display: block;
    content: "";
    background: linear-gradient(to right, rgba(246, 242, 228, 0.6), rgba(246, 242, 228, 0.6)), url(../images/main.jpg) center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    z-index: -1; }
  .about-main .grid-container {
    padding: 2em 0;
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-gap: 10px;
    justify-content: center;
    grid-auto-flow: dense; }
    .about-main .grid-container div {
      position: relative;
      overflow: hidden;
      transition: transform 0.15s ease-in;
      -webkit-animation-name: about-show;
              animation-name: about-show;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-animation-duration: 0.3s;
              animation-duration: 0.3s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both; }
      .about-main .grid-container div:before {
        display: block;
        content: "";
        padding-top: 100%; }
      .about-main .grid-container div:nth-child(2) {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .about-main .grid-container div:nth-child(3) {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .about-main .grid-container div:nth-child(4) {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .about-main .grid-container div:nth-child(5) {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      .about-main .grid-container div:nth-child(6) {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s; }
      .about-main .grid-container div:nth-child(7) {
        -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s; }
      .about-main .grid-container div:nth-child(8) {
        -webkit-animation-delay: 0.7s;
                animation-delay: 0.7s; }
      .about-main .grid-container div:nth-child(9) {
        -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s; }
      .about-main .grid-container div:nth-child(10) {
        -webkit-animation-delay: 0.9s;
                animation-delay: 0.9s; }
      .about-main .grid-container div:nth-child(11) {
        -webkit-animation-delay: 1s;
                animation-delay: 1s; }
      .about-main .grid-container div:nth-child(12) {
        -webkit-animation-delay: 1.1s;
                animation-delay: 1.1s; }
      .about-main .grid-container div:nth-child(13) {
        -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s; }
      .about-main .grid-container div:nth-child(14) {
        -webkit-animation-delay: 1.3s;
                animation-delay: 1.3s; }
      .about-main .grid-container div:nth-child(15) {
        -webkit-animation-delay: 1.4s;
                animation-delay: 1.4s; }
      .about-main .grid-container div:nth-child(16) {
        -webkit-animation-delay: 1.5s;
                animation-delay: 1.5s; }
      .about-main .grid-container div:nth-child(17) {
        -webkit-animation-delay: 1.6s;
                animation-delay: 1.6s; }
      .about-main .grid-container div:nth-child(18) {
        -webkit-animation-delay: 1.7s;
                animation-delay: 1.7s; }
      .about-main .grid-container div:nth-child(19) {
        -webkit-animation-delay: 1.8s;
                animation-delay: 1.8s; }
      .about-main .grid-container div:nth-child(20) {
        -webkit-animation-delay: 1.9s;
                animation-delay: 1.9s; }
    .about-main .grid-container img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .about-main .grid-container img.landscape {
        width: auto;
        height: 100%; }
      .about-main .grid-container img.portrait {
        width: 100%;
        height: auto; }
    .about-main .grid-container .small {
      grid-row-start: span 1;
      grid-column-start: span 1; }
    .about-main .grid-container .big {
      grid-row-start: span 2;
      grid-column-start: span 2; }
    .about-main .grid-container .high {
      grid-row-start: span 2;
      grid-column-start: span 1; }
    .about-main .grid-container .image {
      border: 2px solid rgba(246, 242, 228, 0.8);
      box-shadow: 0 0 0.5em 0 rgba(246, 242, 228, 0.8);
      border-radius: 0.3em; }
      .about-main .grid-container .image:hover {
        transform: scale(1.2);
        z-index: 10; }
    .about-main .grid-container .text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9em;
      text-align: center; }
    .about-main .grid-container .order-1 {
      order: 1; }
    .about-main .grid-container .order-2 {
      order: 3; }
    .about-main .grid-container .order-3 {
      order: 2; }
    .about-main .grid-container .order-4 {
      order: 4; }

/* about css end */
/* contact css start */
@-webkit-keyframes contact-show {
  from {
    opacity: 0;
    transform: scale(1.2); }
  to {
    opacity: 1;
    transform: scale(1); } }
@keyframes contact-show {
  from {
    opacity: 0;
    transform: scale(1.2); }
  to {
    opacity: 1;
    transform: scale(1); } }

.contact-main {
  position: relative;
  background: none;
  border-top: 2px solid #ac262b; }
  .contact-main:before {
    display: block;
    content: "";
    background: linear-gradient(to right, rgba(246, 242, 228, 0.6), rgba(246, 242, 228, 0.6)), url("../images/main.jpg") center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    z-index: -1; }
  .contact-main .form-container form {
    margin: 0 auto;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Courgette", sans-serif; }
    .contact-main .form-container form p {
      padding-bottom: 0.5em;
      font-size: 1.5em; }
    .contact-main .form-container form input[type="text"],
    .contact-main .form-container form textarea {
      margin-top: 1rem;
      padding: 1em;
      width: 20em;
      display: block;
      font-family: "Courgette", sans-serif;
      font-size: 1em;
      background-color: #fff;
      border: none;
      border-radius: 0.3em;
      box-shadow: 0 0 0.3rem 0 rgba(172, 38, 43, 0.3);
      outline: none;
      -webkit-animation-name: contact-show;
              animation-name: contact-show;
      -webkit-animation-duration: 0.3s;
              animation-duration: 0.3s;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both; }
    .contact-main .form-container form input:hover,
    .contact-main .form-container form input:focus,
    .contact-main .form-container form textarea:hover,
    .contact-main .form-container form textarea:focus {
      box-shadow: 0 0 0.5rem 0 rgba(172, 38, 43, 0.8); }
    .contact-main .form-container form .name {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .contact-main .form-container form .email {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .contact-main .form-container form .phone {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .contact-main .form-container form textarea {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .contact-main .form-container form input[type="submit"] {
      margin-top: 2rem;
      padding: 0.5em 2.5em;
      font-size: 1.2em;
      font-family: "Courgette", sans-serif;
      border: none;
      background-color: #fff;
      border-radius: 0.2em;
      box-shadow: 0 0 0.3rem 0 rgba(172, 38, 43, 0.3);
      -webkit-animation: contact-show 0.3s ease-in;
              animation: contact-show 0.3s ease-in;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s;
      cursor: pointer;
      outline: none; }
    .contact-main .form-container form input[type="submit"]:hover,
    .contact-main .form-container form input[type="submit"]:focus {
      color: #ac262b;
      box-shadow: 0 0 0.5rem 0 rgba(172, 38, 43, 0.8); }

/* contact css end */
/* media-queries css start */
@media (min-width: 480px) {
  header .top {
    padding: 0.5em 10vw; }
    header .top .icons a {
      margin-right: 1em; }
  .home-main .content,
  .home-main .app {
    width: 80%; } }

@media (min-width: 640px) {
  html {
    font-size: 14px; }
  header .top {
    padding: 0.5em 20vw; }
  footer .top .footer-item:not(:first-child) {
    flex: 0 0 50%; }
  .store-main .grid-container {
    width: 70%;
    grid-template-columns: repeat(2, 1fr); }
    .store-main .grid-container .card.card-2,
    .store-main .grid-container .card.card-3 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .store-main .grid-container .card.card-4,
    .store-main .grid-container .card.card-5 {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .store-main .grid-container .card.card-6,
    .store-main .grid-container .card.card-7 {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
    .store-main .grid-container .card.card-8,
    .store-main .grid-container .card.card-9 {
      -webkit-animation-delay: 0.8s;
              animation-delay: 0.8s; }
    .store-main .grid-container .card.card-10,
    .store-main .grid-container .card.card-11 {
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .store-main .grid-container .card.card-12 {
      -webkit-animation-delay: 1.2s;
              animation-delay: 1.2s; } }

@media (min-width: 768px) {
  html {
    font-size: 16px; }
  header .bottom .nav-wrapper {
    align-items: flex-end;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); }
  header .bottom label {
    display: none; }
  header .bottom nav {
    display: block; }
  header .bottom ul {
    display: flex; }
  header .bottom li {
    margin-right: 1em; }
  header .bottom a {
    padding: 0.25em 1em; }
  header .bottom h1 {
    font-size: 3.5em; }
  .home-main .content,
  .home-main .app {
    width: 70%; }
  .about-main .grid-container {
    grid-template-columns: repeat(3, 18vw); } }

@media (min-width: 960px) {
  html {
    font-size: 17px; }
  footer.site-footer .top .footer-item {
    flex: 0 0 30%; }
  footer .top .footer-item:nth-child(2) {
    padding-left: 6%; } }

@media (min-width: 1024px) {
  html {
    font-size: 18px; }
  header .bottom h1 {
    padding-top: 1.55em;
    font-size: 4em; }
  .home-main .content {
    width: 50%; }
  .home-main .app {
    width: 65%; }
  footer .bottom:before {
    width: 90%; }
  .store-main .grid-container {
    grid-template-columns: repeat(3, 1fr); }
    .store-main .grid-container .card .image {
      width: 9em;
      height: 11em; }
    .store-main .grid-container .card.card-2,
    .store-main .grid-container .card.card-4 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .store-main .grid-container .card.card-3,
    .store-main .grid-container .card.card-5,
    .store-main .grid-container .card.card-7 {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .store-main .grid-container .card.card-6,
    .store-main .grid-container .card.card-8,
    .store-main .grid-container .card.card-10 {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
    .store-main .grid-container .card.card-9,
    .store-main .grid-container .card.card-11 {
      -webkit-animation-delay: 0.8s;
              animation-delay: 0.8s; }
    .store-main .grid-container .card.card-12 {
      -webkit-animation-delay: 1s;
              animation-delay: 1s; } }

@media (min-width: 1300px) {
  .about-main .grid-container {
    grid-template-columns: repeat(6, 9vw); }
    .about-main .grid-container .order-2 {
      order: 2; }
    .about-main .grid-container .order-3 {
      order: 3; } }

@media (min-width: 1600px) {
  html {
    font-size: 20px; }
  header .bottom h1 {
    padding-top: 2em; }
  .store-main .grid-container {
    grid-template-columns: repeat(4, 1fr); }
    .store-main .grid-container .card.card-2,
    .store-main .grid-container .card.card-5 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .store-main .grid-container .card.card-3,
    .store-main .grid-container .card.card-6,
    .store-main .grid-container .card.card-9 {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .store-main .grid-container .card.card-4,
    .store-main .grid-container .card.card-7,
    .store-main .grid-container .card.card-10 {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
    .store-main .grid-container .card.card-8,
    .store-main .grid-container .card.card-11 {
      -webkit-animation-delay: 0.8s;
              animation-delay: 0.8s; }
    .store-main .grid-container .card.card-12 {
      -webkit-animation-delay: 1s;
              animation-delay: 1s; } }

@media (min-width: 1800px) {
  header .bottom h1 {
    padding-top: 3em; }
  header .bottom .slogan {
    padding-bottom: 7em; } }

/* media-queries css end */
