@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
@import url("./reset.css");
/* @import url("./typography.css"); */
@import url("./carousel.css");

html {
  font: 12px/1.5 Courgette, sans-serif;
}

li {
  list-style: none outside;
}

a {
  text-decoration: none;
}

#main-nav-toggle {
  display: none;
}

/* header start */
header .top {
  padding: 0.5em 5vw;
  display: flex;
  justify-content: space-between;
  background-color: #f2e2cb;
  border-bottom: 2px solid #ac262b;
}

header .top div {
  display: flex;
}

header .top i {
  margin-right: 0.5em;
  color: #000;
  transition: color 0.3s ease-out;
}

header .top i:hover {
  color: #ac262b;
}

header .top .icons a {
  margin-right: 0.5em;
}

header .bottom {
  /* padding-bottom: 10vh; */
  /* height: 20em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../shoes-images/header-bottom.jpg") center / cover no-repeat;
}

/* nav start */
header .bottom .nav-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .bottom label {
  /* display: block; */
  /* margin: 0 auto; */
}

header .bottom label:before {
  display: block;
  content: "\2630";
  font-size: 2em;
  color: #fff;
}

header .bottom nav {
  display: none;
}

input:checked + header nav {
  display: block;
}

input:checked + header label:before {
  content: "\2718";
  content: "\2612";
}
/* nav end */

header .bottom h1 {
  padding: 0.5em 0 1em 0;
  font-size: 3em;
  color: #fff;
  text-align: center;
  text-shadow: 0 3px 5px rgba(172, 55, 38, 1);
}
