/* accessories css start */

.store-main {
  .back-to-shoes {
    padding-top: 1em;
    text-align: center;
    font-family: Courgette, sans-serif;
    font-size: 1.5em;

    a {
      padding-bottom: 0.3em;
      color: #000;
      transition: color 0.2s ease-in-out;

      &:hover,
      &:focus {
        color: var(--red);
      }

      span {
        padding-right: 0.4em;
        font-size: 1.2em;
      }
    }
  }
}

// accessories images links start
.store-main.accessories .grid-container .card {
  @for $i from 1 through 12 {
    &.card-#{$i} .image:before {
      background: url("../images/accessories/#{$i}-2.jpeg") center / contain no-repeat;
    }

    &.card-#{$i} .image:after {
      background: url("../images/accessories/#{$i}-1.jpeg") center / contain no-repeat;
    }
  }
}
// accessories images links end

// .store-main.accessories .grid-container .card.card-1 .image:before {
//   background: url("../images/accessories/1-2.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-1 .image:after {
//   background: url("../images/accessories/1-1.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-2 .image:before {
//   background: url("../images/accessories/2-2.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-2 .image:after {
//   background: url("../images/accessories/2-1.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-3 .image:before {
//   background: url("../images/accessories/3-2.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-3 .image:after {
//   background: url("../images/accessories/3-1.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-4 .image:before {
//   background: url("../images/accessories/4-2.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-4 .image:after {
//   background: url("../images/accessories/4-1.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-5 .image:before {
//   background: url("../images/accessories/5-2.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-5 .image:after {
//   background: url("../images/accessories/5-1.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-6 .image:before {
//   background: url("../images/accessories/6-2.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-6 .image:after {
//   background: url("../images/accessories/6-1.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-7 .image:before {
//   background: url("../images/accessories/7-2.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-7 .image:after {
//   background: url("../images/accessories/7-1.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-8 .image:before {
//   background: url("../images/accessories/8-2.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-8 .image:after {
//   background: url("../images/accessories/8-1.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-9 .image:before {
//   background: url("../images/accessories/9-2.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-9 .image:after {
//   background: url("../images/accessories/9-1.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-10 .image:before {
//   background: url("../images/accessories/10-2.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-10 .image:after {
//   background: url("../images/accessories/10-1.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-11 .image:before {
//   background: url("../images/accessories/11-2.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-11 .image:after {
//   background: url("../images/accessories/11-1.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-12 .image:before {
//   background: url("../images/accessories/12-2.jpeg") center / contain no-repeat;
// }

// .store-main.accessories .grid-container .card.card-12 .image:after {
//   background: url("../images/accessories/12-1.jpeg") center / contain no-repeat;
// }

/* accessories css end */
