/* accessories css start */

.store-main {
  .back-to-shoes {
    padding-top: 1em;
    text-align: center;
    font-family: Courgette, sans-serif;
    font-size: 1.5em;

    a {
      padding-bottom: 0.3em;
      color: #000;
      transition: color 0.2s ease-in-out;

      &:hover,
      &:focus {
        color: var(--red);
      }

      span {
        padding-right: 0.4em;
        font-size: 1.2em;
      }
    }
  }
}

// accessories images links start
.store-main.accessories .grid-container .card {
  @for $i from 1 through 12 {
    &.card-#{$i} .image:before {
      background: url("../images/accessories/#{$i}-2.jpeg") center / contain no-repeat;
    }

    &.card-#{$i} .image:after {
      background: url("../images/accessories/#{$i}-1.jpeg") center / contain no-repeat;
    }
  }
}
// accessories images links end
/* accessories css end */
