/* media-queries css start */
@media (min-width: 480px) {
  header .top {
    padding: 0.5em 10vw;

    .icons a {
      margin-right: 1em;
    }
  }

  .home-main {
    .content,
    .app {
      width: 80%;
    }
  }
}

@media (min-width: 640px) {
  html {
    font-size: 14px;
  }

  header .top {
    padding: 0.5em 20vw;
  }

  footer .top .footer-item:not(:first-child) {
    flex: 0 0 50%;
  }

  .store-main .grid-container {
    width: 70%;
    grid-template-columns: repeat(2, 1fr);

    // store animation delays start
    @for $i from 1 through 5 {
      .card.card-#{$i * 2},
      .card.card-#{$i * 2 + 1} {
        animation-delay: 0.2s * $i;
      }
    }

    .card.card-12 {
      animation-delay: 1.2s;
    }
    // store animation delays end
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  header .bottom {
    .nav-wrapper {
      align-items: flex-end;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.8)
      );
    }

    label {
      display: none;
    }

    nav {
      display: block;
    }

    ul {
      display: flex;
    }

    li {
      margin-right: 1em;
    }

    a {
      padding: 0.25em 1em;
    }

    h1 {
      font-size: 3.5em;
    }
  }

  .home-main {
    .content,
    .app {
      width: 70%;
    }
  }

  .about-main .grid-container {
    grid-template-columns: repeat(3, 18vw);
  }
}

@media (min-width: 960px) {
  html {
    font-size: 17px;
  }

  footer.site-footer .top .footer-item {
    flex: 0 0 30%;
  }

  footer .top .footer-item:nth-child(2) {
    padding-left: 6%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }

  header .bottom h1 {
    padding-top: 1.55em;
    font-size: 4em;
  }

  .home-main {
    .content {
      width: 50%;
    }

    .app {
      width: 65%;
    }
  }

  footer .bottom:before {
    width: 90%;
  }

  .store-main .grid-container {
    grid-template-columns: repeat(3, 1fr);

    .card .image {
      width: 9em;
      height: 11em;
    }

    // store animation delays start
    .card.card-2,
    .card.card-4 {
      animation-delay: 0.2s;
    }

    .card.card-3,
    .card.card-5,
    .card.card-7 {
      animation-delay: 0.4s;
    }

    .card.card-6,
    .card.card-8,
    .card.card-10 {
      animation-delay: 0.6s;
    }

    .card.card-9,
    .card.card-11 {
      animation-delay: 0.8s;
    }

    .card.card-12 {
      animation-delay: 1s;
    }
    // store animation delays end
  }
}

@media (min-width: 1300px) {
  .about-main .grid-container {
    grid-template-columns: repeat(6, 9vw);

    .order-2 {
      order: 2;
    }

    .order-3 {
      order: 3;
    }
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 20px;
  }

  header .bottom h1 {
    padding-top: 2em;
  }

  .store-main .grid-container {
    grid-template-columns: repeat(4, 1fr);

    // store animation delays start
    .card.card-2,
    .card.card-5 {
      animation-delay: 0.2s;
    }

    .card.card-3,
    .card.card-6,
    .card.card-9 {
      animation-delay: 0.4s;
    }

    .card.card-4,
    .card.card-7,
    .card.card-10 {
      animation-delay: 0.6s;
    }

    .card.card-8,
    .card.card-11 {
      animation-delay: 0.8s;
    }

    .card.card-12 {
      animation-delay: 1s;
    }
    // store animation delays end
  }
}

@media (min-width: 1800px) {
  header .bottom {
    h1 {
      padding-top: 3em;
    }

    .slogan {
      padding-bottom: 7em;
    }
  }
}
/* media-queries css end */
