/* shoes css start */
@keyframes card-show {
  from {
    transform: scale(1.1);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.store-main {
  position: relative;
  background: none;
  border-top: 2px solid var(--red);
  font-family: "Maven Pro", sans-serif;

  &:before {
    display: block;
    content: "";
    background: linear-gradient(to right, rgba(246, 242, 228, 0.6), rgba(246, 242, 228, 0.6)),
      url("../images/main.jpg") center / cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    z-index: -1;
  }

  .see-accessories {
    padding-top: 1em;
    text-align: center;
    font-family: Courgette, sans-serif;
    font-size: 1.5em;

    a {
      padding-bottom: 0.3em;
      color: #000;
      transition: color 0.2s ease-in-out;

      &:hover,
      &:focus {
        color: var(--red);
      }

      span {
        padding-left: 0.4em;
        font-size: 1.2em;
      }
    }
  }

  .grid-container {
    margin: 0 auto;
    padding: 2em 0;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-column-gap: 3em;
    grid-row-gap: 2em;

    .card {
      /* card start */
      background-color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0 0 0.5rem 0 rgba(172, 38, 43, 0.3);
      border-radius: 0.3em;

      animation-name: card-show;
      animation-timing-function: ease-in;
      animation-duration: 0.3s;
      animation-fill-mode: both;

      .text {
        padding-bottom: 1em;
        width: 100%;
        position: relative;
      }

      .description {
        /* description start */
        position: absolute;
        padding: 0.5em;
        line-height: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background-color: #fff;
        opacity: 0;
        transform: scale(0.9);
        transition: all 0.3s ease-out;
      }

      .image:hover + .text .description {
        opacity: 1;
        transform: scale(1);
        /* description end */
      }

      /* card animation delays start*/
      @for $i from 2 through 12 {
        &.card-#{$i} {
          animation-delay: (0.1s * $i) - 0.1s;
        }
      }
      /* card animation delays end*/

      .image {
        width: 12em;
        height: 12em;
        position: relative;

        &:before {
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
        }

        &:after {
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 1;
          transition: opacity 0.4s ease-in;
        }

        &:hover:after {
          opacity: 0;
        }
      }

      .add-to-cart {
        margin-bottom: 1em;
        color: var(--red);
        font-size: 1.1em;
        text-decoration: none;
        opacity: 0;
        transform: scale(1.1);
        transition: opacity 0.3s ease-in, transform 0.2s ease-in;
      }

      &:hover .add-to-cart {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

// shoes images links start
.store-main.shoes .grid-container .card {
  @for $i from 1 through 12 {
    &.card-#{$i} .image:before {
      background: url("../images/shoes/#{$i}-2.jpeg") center / contain no-repeat;
    }

    &.card-#{$i} .image:after {
      background: url("../images/shoes/#{$i}-1.jpeg") center / contain no-repeat;
    }
  }
}
// shoes images links end

/* card end */
/* shoes css end */
